#imageConnexion{
    position: absolute;
    width:40%;
    height: 55%;
    margin-top: 3%;
    margin-left: 20%;
}
.inputConnexion{
    box-sizing: border-box; border-radius: 30px; border: 1px solid #498CB3;
}
.textConnexion{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 39px;
    text-align: center;

    color: #498CB3;
}
.boxConnexion{
    background: #FFFFFF;
    border: 1px solid #498CB3;
    border-radius: 47px;
    box-sizing: border-box;

    box-shadow:  10px 5px 5px #498CB2;    ;
}
.btnConnexion{
    box-sizing: border-box;
    background-color: #498CB3;
    border: 1px solid #498CB3;
    border-radius: 30px;

    color: #FFFFFF;
    box-shadow: 5px 5px 5px #FFFFFF;
}